{
    "presets": [
      [
        "@babel/preset-env",
        {
          "modules": false,
          "useBuiltIns": false
        }
      ]
    ],
    "env": {
      "test": {
        "plugins": ["@babel/plugin-transform-modules-commonjs"]
      },
    }
  }
